<style type="text/css">
<!--BODY{
scrollbar-face-color:#122B87;
scrollbar-shadow-color:#228BC4;
scrollbar-highlight-color:#228BC4;
scrollbar-3dlight-color:#77BDE5;
scrollbar-darkshadow-color:#228BC4;
scrollbar-track-color:#122B87;
scrollbar-arrow-color:#228BC4;
background: #122B87;
 font-family:arial; font-size: 9pt; color: #43D4EF;}

.header {
font-family: tahoma;
 size: 4pt;
color: #1268A4;
BORDER-RIGHT: #228BC4 1px solid;
BORDER-TOP: #228BC4 1px solid;
 BORDER-bottom: #228BC4 1px solid;
BORDER-LEFT: #228BC4 1px solid;}

.menu{font-family: tahoma; 
size: 4pt;
color: #43D4EF;
BORDER-RIGHT: #228BC4 1px solid;
BORDER-TOP: #228BC4 1px solid;
 BORDER-bottom: #228BC4 1px solid;
BORDER-LEFT: #228BC4 1px solid;}

.content {font-family: tahoma; 
size: 4pt;
color: #49ABEA;
BORDER-RIGHT: #228BC4 1px solid;
BORDER-TOP: #228BC4 0px solid;
 BORDER-bottom: #228BC4 1px solid;
BORDER-LEFT: #228BC4 1px solid;}

.line{font-family: tahoma; size: 4pt;
color: #49ABEA;
BORDER-RIGHT: #228BC4 1px solid;
BORDER-TOP: #228BC4 1px solid;
 BORDER-bottom: #228BC4 1px solid;
BORDER-LEFT: #228BC4 1px solid;}

.footer {font-family: tahoma; 
size: 4pt;
color: #3BB7D9;
BORDER-RIGHT: #76264C 0px solid;
BORDER-TOP: #228BC4 1px solid;
BORDER-bottom: #76264C 0px solid;
BORDER-LEFT: #76264C 0px solid;}



A:link {color:#6291D2;text-decoration:none; font-weight: none}
A:visited {color:#49ABEA;text-decoration: none; font-weight: bold}
A:active {color:#9E4271;text-decoration:none; font-weight: bold}
A:hover {color: #C0FFFF; text-decoration: none; cursor: crosshair}-->
</style>